@{
    ViewBag.Title = "License";
    var result = ViewBag.result;
    var error = (string)ViewBag.error;
}

<h2>View</h2>

@{
    if(!string.IsNullOrWhiteSpace(error))
    {
        <span class="error">@error</span>
    }
    else
    {
        <textarea style="width:100%; height:500px">@result</textarea>
    }
}