@{
    ViewBag.Title = "Create";
    var result = ViewBag.result;

    var recordId = (string)ViewBag.recordId;

    if (string.IsNullOrWhiteSpace(result))
    {
        result = "{\n\t\"createRecord\":\n\t{\n\t\t\"type\":\n\t\t{\n\t\t\t\"id\": \"Building-Electrical-Residential-NA\"\n\t\t}\n\t}\n}";
    }
}

<h2>Create</h2>

@if (!string.IsNullOrWhiteSpace(recordId))
{
    <a href="/home/all?id=@recordId">View created record: (@recordId)</a>
}

@using(Html.BeginForm("create", "home"))
{
    <textarea name="json" style="width:100%; height:250px">@result</textarea>
    
    <button type="submit">Submit</button>
}