@{
    ViewBag.Title = "Create";
    var result = ViewBag.result;
    var error = (string)ViewBag.error;

    var recordId = (string)ViewBag.recordId;

    if (string.IsNullOrWhiteSpace(result))
    {
        result = HttpContext.GetGlobalResourceObject("Templates", "recordWithAsis").ToString();
    }
}

<h2>Create</h2>

@if (!string.IsNullOrWhiteSpace(error))
{
    <span class="error">@error</span>
}
else
{
    if (!string.IsNullOrWhiteSpace(recordId))
    {
        <p>View created record (@recordId):</p>
        <p>
            <a href="/home/getdata?type=record&id=@recordId">Record summary</a>
        </p>
        <p>
            <a href="/home/getdata?type=contacts&id=@recordId">Record contacts</a>
        </p>
        <p>
            <a href="/home/getdata?type=asis&id=@recordId">Record ASIs</a>
        </p>
    }

    using(Html.BeginForm("create", "home"))
    {
        <textarea name="json" style="width:100%; height:500px">@result</textarea>
    
        <button type="submit">Submit</button>
    }
}