@{
    ViewBag.Title = "Home Page";
}

<h2>Home page</h2>
<h3>Available options:</h3>
<p>
    @Html.ActionLink("View", "all") - get list of records from API
</p>
<p>
    @Html.ActionLink("Create record", "create") - create record of a particular type
</p>